html {
	background-color: #869960;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 87%;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	padding: 0 40px;
	box-sizing: border-box;
}

/* Header */
header {
	padding-top: 20px;
	color: #617140;
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	margin: 0;
}

/* End of headr */

/* Site navigation */

.site-nav {
	margin-top: 20px;
}
.site-nav ul {
	margin: 0;
	padding: 0;
}
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}

.site-nav a {
	display: block;
	color: #617140;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #e5e9dc;
	border-bottom: none;
}

.site-nav a:hover {
	background-color: #e5e9dc;
}

/* End site navigation */

.content-area {
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Table */
table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table th {
	text-align: left;
	background-color: #869960;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th, table td {
	border: 1px solid #869960;
	padding: 10px;
	vertical-align: top;
}

table tbody tr:nth-child(even) td{
	background-color: #e5e9dc;
}

.col-item-name {
	width: 60%;
}

.col-quantity, .col-price {
	width: 20%;
}

table.grocery-list tr :nth-child(2), table.grocery-list tr :nth-child(3) {
	text-align: center;
}

/* End of table */

.image-banner {
	position: relative;
}

.image-banner img {
	display: block;
}

.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	box-sizing: border-box;
	padding: 15px 25px;
}

.sidebar {
	width: 34%;
	float: left;
	background-color: #e5e9dc;
	padding: 40px;
	box-sizing: border-box;
	font-size: 85%;
}

footer {
	text-align: center;
	font-size: 85%;
	color: #999;
	padding: 20px 0;
}

.group::before, .group::after {
	content: "";
	display: table;
}

.group::after {
	clear: both;
}

.group {
	zoom: 1;
}